<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        {% include 'header_menu.html' %}
         
    
        <section class="section">
            <h2 class="section-header">About me</h2>
        
            <p class="author-name">Hí anh em)</p>
            <div class="entry-content">
                <p style="text-align:center;"></p>
                <p>Dear friends!</p>
                <p><i>Mình lười viết quá, dù sao thì cũng cảm ơn mọi người đã ghé thăm =))) </i></p>       
        </section>
    </body>
</html>
